html, body {
    font-family: 'Gaegu', cursive;
}

* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.mytitle {
    height: 230px;
    width: 100%;

    background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-position: center;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mytitle > h1 {
    font-weight: bold;
    font-size: 65px;
    max-width: 1000px;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 40px;
    width: 100%;
    background-color: #0B2161;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar > a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    margin-right: 25px;
    text-decoration: none;

    cursor: pointer;
}

/* 캘린더 */
#container {
    position: relative;
    margin: 70px auto;
}

#container .row col {
    text-align: left;
}

#calendar {
    max-width: 550px;
    width: 95%;
    font-family: 'Gaegu', sans-serif;
}

#calendar_weekdays div {
    display: inline-block;
    vertical-align: top;

    max-width: 550px;
    width: 95%;
}

#calendar_content, #calendar_weekdays, #calendar_header {
    position: relative;
    max-width: 550px;
    width: 95%;
    overflow: hidden;
    float: left;
    z-index: 10;
}

#calendar_weekdays div, #calendar_content div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
}

#calendar_content {
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
}

#calendar_content div {
    float: left;
    cursor: pointer;
}

#calendar_content div:hover {
    background-color: #F8F8F8;
}

#calendar_content div.blank {
    pointer-events: none;
}

#calendar_header, #calendar_content div.today {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#calendar_content div.today {
    color: #FFFFFF;
}

#calendar_header {
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #FF6860;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
}

#calendar_header h1 {
    font-size: 1.5em;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    width: 70%;
}

i[class^="fa-solid"] {
    color: #FFFFFF;
    float: left;
    width: 15%;
    border-radius: 50%;
    margin-top: -18px;
    font-size: 17px;
}

[class^="fa-solid"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

[class^="fa-solid"] {
    display: inline;
    height: auto;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    margin-top: 0;
}

.fa-solid fa-chevron-left::before {
    content: '\f053';
}

.fa-solid fa-chevron-left::before {
    content: '\f054';

}

#calendar_header i {
    cursor: pointer;
}

/* 오늘의 경기 */
#today_game_wrap {
    font-family: 'Gaegu', cursive;
    margin-top: -5px;
    max-width: 550px;
    width: 100%;
}

#today_game_wrap .title {
    font-size: 24px;
    font-weight: bold;
    height: 28px;
}

#table_wrap {
    margin: 10px 0 0;
}

#table_wrap #today_date {
    padding: 7px 0 7px 10px;
    background-color: #0B2161;
    color: #edf2f4;
    font-size: 18px;
    height: 38px;
}

#today_game_table {
    display: block;
    width: 100%;
    border: 1px solid #2f3143;
    height: 180px;
    overflow: auto;
}

#today_game_table thead {
    width: 550px;
    height: 40px;

    position: sticky;
    top: 0;
    background-color: #DDECEE;
    font-weight: bold;
}

#today_game_table thead th {
    padding: 7px;
    font-size: 18px;
}

#today_game_table th.th1 {
    width: 10%;
    text-align: center;
}

#today_game_table th.th2 {
    width: 45%;
    text-align: center;
}

#today_game_table th.th3 {
    width: 45%;
    text-align: center;
}

#today_game_table tbody tr > td {
    padding: 7px;
    text-align: center;
}

#today_game_table tbody tr:nth-child(2n) {
    background-color: #f4f4f6;
}

/*score 글씨 크기 조정*/
#today_game_table tbody tr > td strong {
    font-size: 19px;
}

/* 달력 클릭하면 날짜에 맞춰 변경되는 경기 */
#change_game_wrap {
    display: none;
    margin: 40px auto 0 0;
    font-family: 'Gaegu', cursive;
    max-width: 550px;
    width: 100%;
}

#change_game_wrap #selected_date {
    padding: 7px 0 7px 10px;
    background-color: #0B2161;
    color: #edf2f4;
    font-size: 18px;
    height: 38px;
}

#change_game_table {
    display: block;
    width: 100%;
    border: 1px solid #2f3143;
    height: 180px;
    overflow: auto;
}

#change_game_table thead {
    max-width: 550px;
    width: 100%;
    height: 40px;

    position: sticky;
    top: 0;
    background-color: #DDECEE;
    font-weight: bold;
}

#change_game_table thead th {
    padding: 7px;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

#change_game_table th.th1 {
    width: 10%;
    text-align: center;
}

#change_game_table th.th2 {
    width: 45%;
    text-align: center;
}

#change_game_table th.th3 {
    width: 45%;
    text-align: center;
}

#change_game_table tbody tr > td {
    padding: 7px;
    text-align: center;
}

#change_game_table tbody tr:nth-child(2n) {
    background-color: #f4f4f6;
}

/*선택한 날짜에 경기 일정이 없을때*/
#no_match {
    width: 550px;
    height: 32px;
    margin: auto;
    background-color: white;
    font-size: 21px;
}

/*score 글씨 크기 조정*/
#change_game_table tbody tr > td strong {
    font-size: 19px;
}




